* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Press Start 2P', monospace;
    /* Forzar orientación horizontal */
    touch-action: manipulation;
}

/* Fondo con imagen */
.main-container {
    width: 100vw;
    height: 100vh;
    background-image: url('../fondo/masas.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Overlay semitransparente para mensaje de rotación */
.rotate-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 58, 58, 0.85);
    backdrop-filter: blur(5px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 20px;
}

.rotate-icon {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.8));
}

.rotate-text {
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.6;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

@media screen and (orientation: portrait) {
    .rotate-message {
        display: flex;
    }
    .content-wrapper {
        display: none;
    }
}

.content-wrapper {
    text-align: center;
    z-index: 1;
}

.btn-comenzar {
    background-color: #fff;
    color: #000;
    border: 3px solid #000;
    padding: 15px 50px;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.2s ease;
    font-family: 'Press Start 2P', monospace;
    cursor: pointer;
    image-rendering: pixelated;
}

.btn-comenzar:hover {
    background-color: #000;
    color: #fff;
    transform: translate(2px, 2px);
    box-shadow: 3px 3px 0px #000;
}

.btn-comenzar:active {
    transform: translate(5px, 5px);
    box-shadow: 0px 0px 0px #000;
}

/* Optimización para móviles horizontales */
@media screen and (max-height: 500px) and (orientation: landscape) {
    .title {
        font-size: 24px;
        margin-bottom: 30px;
        letter-spacing: 2px;
        text-shadow: 3px 3px 0px #333, 6px 6px 0px rgba(0,0,0,0.3);
    }
    
    .btn-comenzar {
        font-size: 14px;
        padding: 15px 45px;
        letter-spacing: 1px;
        box-shadow: 6px 6px 0px #333;
    }
}

/* Para dispositivos muy pequeños */
@media screen and (max-width: 700px) and (orientation: landscape) {
    .title {
        font-size: 20px;
        margin-bottom: 25px;
    }
    
    .btn-comenzar {
        font-size: 12px;
        padding: 12px 35px;
    }
}
